<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${question.getTitle()}"></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css" />
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 question-page-main-content">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${question.getTitle()}"></span></h3>
                <span class="text-detail">
                作者：<span th:text="${question.getUser().getName()}"></span>
                • 发表于：<span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
                • 阅读数：<span th:text="${question.getViewCount()}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-desc" >
                    <textarea style="display: none" th:text="${question.getDescription()}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-desc", {});
                    });
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--标签-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="label label-info question-tag" th:each="tag : ${#strings.arraySplit(question.tag, ',')}">
                    <span class="glyphicon glyphicon-tag"></span>
                    <span th:text="${tag}" class="all-tag-font"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--编辑-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 th:if="${session.user != null && question.user.getId() == session.user.getId()}">
                <a th:href="@{'/publish/'+${question.id}}" class="menu"><span class="glyphicon glyphicon-pencil"
                                                                              aria-hidden="true"></span>编辑</a>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--一级评论-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.getCommentCount()}"></span>个回复</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment: ${comments}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-avatar" th:if="${comment.user.getAvatarUrl() != null}"
                                     th:src="${comment.user.getAvatarUrl()}">
                                <img class="media-object img-avatar" th:if="${comment.user.getAvatarUrl() == null}"
                                     src="https://blogimg-1256098337.cos.ap-chengdu.myqcloud.com/v2-6afa72220d29f045c15217aa6b275808_hd.jpg"
                                     th:width="40px">
                            </a>
                        </div>
                        <div class="media-body commentator" th:id="${'comment-body-'+comment.getId()}">
                            <div>
                                <span th:text="${comment.user.getName()}" class="commentator-name"></span>
                            </div>
                            <div th:text="${comment.getContent()}" class="comment-content"></div>
                            <div class="menu">
                                <span class="icon like-icon" onclick="like(this)" th:comment-id="${comment.getId()}">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span th:text="${comment.getLikeCount()}" class="count"
                                        ></span>
                                </span>
                                <span class="icon" th:data-id="${comment.getId()}"
                                      onclick="collapseComment(this)">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.getCommentCount()}" class="count"></span>
                                </span>
                                <span th:text="${#dates.format(comment.getGmtCreate(), 'yyyy-MM-dd')}"
                                      class="pull-right"></span>
                            </div>

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.getId()}">
                                <!--输入框-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.getId()}">
                                    <button type="button" class="btn btn-success pull-right btn-comment" onclick="comment(this)" th:data-id="${comment.getId()}">评论</button>
                                </div>
                            </div>
                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    </div>
                </div>
            </div>

            <!--输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h4>提交回复</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-avatar"
                                     th:src="${session.user != null ? session.user.getAvatarUrl() : '/images/AnonymousUser.jpg'}">
                            </a>
                        </div>
                        <div class="media-body ">
                            <span th:text="${session.user != null ? session.user.getName() : '匿名用户'}"></span>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.getId()}">
                    <textarea class="form-control comment" rows="10" id="comment_content" style="resize: none"></textarea>
                    <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
                </div>
            </div>
        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!--发起人-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media-publisher">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-avatar" th:src="${question.user.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <span th:text="${question.user.getName()}"></span>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
            <!--相关问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <a th:each="relatedQuestion : ${relatedTopic}" th:href="@{'/question/'+${relatedQuestion.getId()}}" class="related-topic">
                    <i class="glyphicon glyphicon-link"></i>
                    <span th:text="${relatedQuestion.getTitle()}"></span>
                    <br>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>